@{
  Layout = "_Layout";
}

@* @using Bakery.Models; *@

<h1>Welcome to Pierre's Bakery!</h1>
<h2>Checkout our avalible treats and the different flavors:</h2>

<p>@Html.ActionLink("See all treats", "Index", "Treats")</p>
<p>@Html.ActionLink("Browse our list of flavors", "Index", "Flavors")</p>
<p>@Html.ActionLink("Register here", "Register", "Account")</p>
<p>@Html.ActionLink("Log in", "Login", "Account")</p>